<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Password Recovery</title>
	</head>
	<body style="margin:0px; font-family:Tahoma, Geneva, sans-serif;">
		<div style="padding:10px; background:#e9ecee; font-size:29px; color:#333;">
				<a href="https://portal.magnoliacad.com"><img src="http://portal.magnoliacad.com/magnolia/resources/assets/img/mid_logo.png" alt="Magnolia" width="30" height="30"></a>
				Magnolia Password Recovery
		</div>
		<div style="padding:24px; font-size:13px;">
			<span style="font-weight:bold">${firstName} ${lastName}</span>, ${requestMessage}	
			<p>Link: <a href="https://portal.magnoliacad.com/magnolia/auth/token/check?token={{$token}}&email={{$email}}">https://portal.magnoliacad.com/magnolia/auth/token/check?token={{$token}}&email={{$email}}</a></p>
		</div>
		<p>Magnolia powered by ManageMe.</p>
		<p><span style="font-weight:bold">Magnolia Team.</span></p>
	</body>
</html>