<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Magnolia Support</title>
	</head>
	<body style="margin:0px; font-family:Tahoma, Geneva, sans-serif;">
		<div style="padding:10px; background:#e9ecee; font-size:19px; color:#333;">
				<a href="https://portal.magnoliacad.com"><img src="http://portal.magnoliacad.com/magnolia/resources/img/footer_icon.png" alt="Magnolia"></a>
				Magnolia User Update
		</div>
		<div style="padding:24px; font-size:13px;">
			<span style="font-weight:bold">${updateMessage}, &nbsp; ${firstName} ${lastName}</span>, 
					${passwordDetails}
				<p>
					<div>
						<span style="font-weight:bold">Updated Password: </span>${password}
					</div>
				</p>

				<p>
					<div>
						<span style="font-weight:bold">So what next?</span>
					</div>
					<div>
						Start by learning the entire process step-by-step <a href="https://portal.magnoliacad.com/help">Magnolia Guide.</a>
					</div>
				</p>
			</div>
			<p>Magnolia powered by ManageMe.</p>
			<p><span style="font-weight:bold">Magnolia Team.</span></p>
	</body>
</html>